<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.optimization.mapper.AssignmentMapper">
    <resultMap id="AssignmentResultMap" type="com.wms.optimization.entity.Assignment">
        <id property="id" column="id" />
        <result property="workerId" column="worker_id" />
        <result property="workerName" column="worker_name" />
        <result property="taskId" column="task_id" />
        <result property="taskName" column="task_name" />
        <result property="startTime" column="start_time" />
        <result property="endTime" column="end_time" />
        <result property="unitsAssigned" column="units_assigned" />
        <result property="isBreak" column="is_break" />
        <result property="status" column="status" />
        <result property="feedback" column="feedback" />
        <result property="shiftName" column="shift_name" />
        <result property="shiftStart" column="shift_start" />
        <result property="shiftEnd" column="shift_end" />
    </resultMap>


    <select id="selectAllAssignments" resultMap="AssignmentResultMap">
        SELECT id, worker_id, worker_name, task_id, task_name, start_time, end_time, units_assigned, is_break, status, feedback, shift_name, shift_start, shift_end FROM assignment
    </select>

    <select id="selectAssignmentById" resultMap="AssignmentResultMap">
        SELECT id, worker_id, worker_name, task_id, task_name, start_time, end_time, units_assigned, is_break, status, feedback, shift_name, shift_start, shift_end FROM assignment WHERE id = #{id}
    </select>

    <insert id="insertAssignment" parameterType="com.wms.optimization.entity.Assignment">
        INSERT INTO assignment(worker_id, worker_name, task_id, task_name, start_time, end_time, units_assigned, is_break, status, feedback, shift_name, shift_start, shift_end)
        VALUES(#{workerId}, #{workerName}, #{taskId}, #{taskName}, #{startTime}, #{endTime}, #{unitsAssigned}, #{isBreak}, #{status}, #{feedback}, #{shiftName}, #{shiftStart}, #{shiftEnd})
    </insert>

    <update id="updateAssignmentStatus" parameterType="com.wms.optimization.entity.Assignment">
        UPDATE assignment
        SET status = #{status}, feedback = #{feedback}
        WHERE id = #{id}
    </update>

    <delete id="deleteAssignment" parameterType="long">
        DELETE FROM assignment WHERE id = #{id}
    </delete>
    <delete id="deleteAllAssignments">
        DELETE FROM assignment
    </delete>
</mapper>
